cc/api/tests/schemata/options.relax.xml

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="root">
      <oneOrMore>
        <element name="option">
          <group> 
            <attribute name="value">
              <text/> 
            </attribute>
          </group>
          <text/>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
